/* @@main index styles */


.main-con {
    min-height: 100%;
}


/* banner styles */

.banner-con {
	width: 100%;
	height: 60vh;
	max-height: 450px;
}

.banner-con > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* animated title styles */

.animated-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cd-intro {
    color: var(--gray7);
    font-family: var(--font);
}

.cd-words-wrapper {
	font-family: var(--font-bold);
	color: var(--gray8);
}
span:first-child {
	margin-right: 0.25rem;
}
.cd-words-wrapper b:nth-child(3n+1) {
	color: var(--pink3);
}
.cd-words-wrapper b:nth-child(3n+2) {
	color: var(--green2);
}
.cd-words-wrapper b:nth-child(3n+3) {
	color: var(--softgray4);
}
